
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}

.nav-tabs {    
    background-color: #dddaa3;
}

.modal { overflow: auto !important; }

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}

.btn-primary.disabled, .btn-primary:disabled {

    color: #fff;
    background-color: #646c75;
    border-color: #6e7781;

}

.companyInfo{
    display:none;
}
.card-header{
    cursor:pointer;
}

.file-upload{
    .file-upload-btn{
        position: absolute;
        width: 100%;
        height: 35px;
        z-index: 9;
        opacity: 0;
    }
    .delete-file{
        position: absolute;
        right: 50px;
        top: 8px;
        font-size: 16px;
        opacity: .8;
        cursor: pointer;
        z-index: 99;
        visibility: hidden;
    }
    &:hover .delete-file{
        visibility: visible;
    }
}

.successborder{
border-top:7px solid #29E52C;
}

.failureborder{
    border-top:7px solid red;
    }

.profile_progress {
        position: fixed;
        top: 35%;
        right: 0;
        background-color: #FFF;
        border-radius: 10px 0 0 10px;
        padding: 0;
        text-align: center;
        border: 1px solid #eee;
    }  

.nav-item .nav-link.active {
background-color: #395646;
color: #FFF;
font-size:15px;
}

.list-group-item {
    line-height: 0.7;
}

.main1 {
    max-height: 300px;
    overflow-y: scroll;
}

.cursor{
    cursor: pointer;
}

:host /deep/ .data-table .data-table-row.selected {
    background-color: #aec5e2fc;
}
.column-header{
    background-color: #242d3a;
    color: #fff;
    height: 25px;
}

li:hover a{
    background-color:#356ea0;
    color:white;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    color: white;
    text-decoration: none;
    background-color: #356ea0;
}